.form-request {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.form-request div{
    margin-top: 8px;
    width: 80%;
}

input {
    padding: 16px;
    width: 100%;
    text-align: center;
}

input:hover{
    border: 1px solid blue;
}

button {
    padding: 8px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: darkslategray;
    color: white;
}

.container {
    height: 100px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.result-label {
    padding: 8px;
    width: 100%;
    text-align: center;
}

.hide {
    display: none !important;
}


@media only screen and (max-width:700px){
    input, button, p, label {
        font-size: large;
    }
}